<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="col-md-3">
  <button type="button" (click)="openModal(template, null)" class="btn btn-warning right">Add</button>
</div>

<div class="row" style="margin:5px" *ngFor="let cat of category; let i = index">

  <div class="col-2">{{cat.name}}</div>
  <div class="col-2">{{cat.description}}</div>


  <div class="col-2">
    <button type="button" (click)="openModal(template, cat)" class="btn btn-warning right">Edit</button>
  </div>
  <div class="col-2">
    <button type="button" (click)="openModalDelete(templatedel, cat)" class="btn btn-warning right">delete</button>
  </div>
</div>

<ng-template #templatedel>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cancel Edit</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefdel.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-3">
      <button type="button" (click)="deleteCategory()" class="btn btn-warning right">delete</button>
    </div>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Task Edit</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Id</label>
          <!-- {{editingId}} -->
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">name</label>
          <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1"
            placeholder="Create a Task">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">description</label>
          <input type="text" class="form-control" formControlName="description" id="exampleInputPassword1"
            placeholder="Assignee">
        </div>
      </div>

      <div class="btncenter">
        <button type="submit" [disabled]="!editForm.valid" class="btn btn-danger">Confirm</button>
      </div>
    </form>
  </div>
</ng-template>
